<?xml version="1.0"?>
<config>
    <modules>
        <ND_Alphabank>
            <version>0.1.2</version>
        </ND_Alphabank>
    </modules>
    <global>
        <models>
            <alphabank>
                <class>ND_Alphabank_Model</class>
            </alphabank>
        </models>
        <helpers>
            <alphabank>
                <class>ND_Alphabank_Helper</class>
            </alphabank>
        </helpers>
        <resources>
            <alphabank_setup>
                <setup>
                    <module>ND_Alphabank</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </alphabank_setup>
            <alphabank_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </alphabank_write>
            <alphabank_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </alphabank_read>
        </resources>
        <blocks>
            <alphabank><class>ND_Alphabank_Block</class></alphabank>
        </blocks>        
    </global>
    <frontend>
        <secure_url>
            <alphabank_checkout>/alphabank/checkout</alphabank_checkout>
        </secure_url>
        <routers>
            <alphabank>
                <use>standard</use>
                <args>
                    <module>ND_Alphabank</module>
                    <frontName>alphabank</frontName>
                </args>
            </alphabank>
        </routers>
        <layout>
            <updates>
                <alphabank>
                    <file>alphabank.xml</file>
                </alphabank>
            </updates>
        </layout>
    </frontend>
    <default>
        <payment>            
            <alphabank_checkout>
                <merchant_id backend_model="adminhtml/system_config_backend_encrypted"/>                
                <model>alphabank/checkout</model>
                <title>Alpha Bank e-Commerce</title>
                <order_status>processing</order_status>
                <allowspecific>0</allowspecific>
            </alphabank_checkout>
        </payment>
    </default>
</config>
